#main {
    width: 800px;
    min-height: 500px;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
  }
  #game_area {
    width: 500px;
    height: 350px;
    border: 2px solid black;
    margin: auto;
  }
  .red {
    color: red;
  }
  
  
  h2,h1{
    color:black;
  }