#main {
    width: 800px;
    min-height: 500px;
    margin: auto;
    padding-bottom: 10px;
  }
  .game_area {
    width: 500px;
    height: 350px;
    border: 2px solid black;
    margin: auto; 
    position: relative;
    overflow : hidden;
  }
  
  .text-center {
    text-align: center;
    color:black;
  }
  
  #circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: black;
  
    /*important for positioning */
    position: relative;
    top: 40px;
    left: 40px;
  }
  
  .red {
    color: red;
  }
  